<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "心理測驗";
    }
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/image/icon.png" />@*標題icon*@
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">@*字型*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("心理測驗~~融合科學性與趣味性，人人適合的大眾心理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("關於", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("test資料庫連線", "Index", "Student")</li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year- <strong>資料來源:全世界都在玩的心理遊戲</strong> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/site/homeIndex.js"></script>
    <script src="~/Scripts/site/homeAbout.js"></script>
</body>
</html>
