@using MindGame.Models;
@model IEnumerable<Quiz>
<div class="jumbotron">
    <h2><strong> 最新、最準、最超值、最好玩的心理遊戲</strong></h2>
    <p class="lead">
        <img src="~/Content/image/Psi2.svg" />讓你在遊戲中發現自已性格的神祕基因，輕鬆看透別人的內心
     </p>
    <p style="height: 72px;"></p>
</div>
 
<div class="row indexQuiz">
    @foreach (Quiz item in Model)
    {
        <div class="col-md-4">
            <div>
                <h2><strong>@item.title</strong></h2>
                <p>@item.description</p>
                <p>@Html.ActionLink("開始測驗 >>", "About",
                  new { quizID = item.ID }, new { @class = "btn btn-default" })</p> 
            </div> 
        </div>
        if (item.ID == 3) { break; }
    }
</div>
<div class="row indexQuiz">
    @foreach (Quiz item in Model)
    {
        if (item.ID < 4) { continue; }
            <div class="col-md-4">
                <div>
                    <h2>@item.title</h2>
                    <p>@item.description</p>
                    <p>@Html.ActionLink("開始測驗 >>", "About",
                      new { quizID=item.ID}, new {@class= "btn btn-default" } )</p> 
                      @*actionName,ruoutValue,htmlValue*@                
                </div> 
            </div>
    }
</div>
@*@section JavaScript{
    <script type="text/javascript" src="@Url.Content("~/Scripts/site/homeIndex.js")"></script>
  }*@
